section {
    
    padding: 80px 0;
    
    @include media(max-width,1023px){
        padding: 40px 0;
    }
}

.section_logos {
	position: relative;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			list-style: none;
			display: inline-block;
			padding: 10px 60px;
		}
	}
}

.section_what {

    .section_title {
        margin-bottom: 56px;
        color: #0D0693;
    }
}

.section_testimonials {
    background: #F5F6FF;

    .section_title {
        margin-bottom: 40px;
    }
}