section {
    
    padding-top: 80px;
    padding-bottom: 80px;
    
    @include media(max-width,1023px){    
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.grid-container {
    padding-right: 0;
    padding-left: 0;

    @include media(max-width, 1440px) {
        padding-right: 30px;
        padding-left: 30px;
    
    }
}


/* HERO STYLE 3 */
.hero-s3 {
	position: relative;
	background-blend-mode: normal, multiply, normal, normal;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-top: 0;
    padding-bottom: 0;

    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.81%, rgba(0, 0, 0, 0.5) 85.32%), 
    linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, rgba(12, 8, 96, 0.246) 0%,
    rgba(12, 8, 96, 0.204) 53.12%, rgba(12, 8, 96, 0.294) 100%), 
    url(../img/bgs/hero_banner_2.jpg);
    min-height: 1080px;

    &.vinyl_flooring {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.81%, rgba(0, 0, 0, 0.5) 85.32%), 
        linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, rgba(12, 8, 96, 0.246) 0%,
        rgba(12, 8, 96, 0.204) 53.12%, rgba(12, 8, 96, 0.294) 100%), 
        url(../img/bgs/hero_banner_2.jpg);
        min-height: 1080px;
    }
    
    &.dustless_removal {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.81%, rgba(0, 0, 0, 0.5) 85.32%), 
        linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, rgba(12, 8, 96, 0.246) 0%,
        rgba(12, 8, 96, 0.204) 53.12%, rgba(12, 8, 96, 0.294) 100%), 
        url(../img/bgs/img-dustless.jpeg);
        min-height: 914px;

        .section_title {
            margin-bottom: 50px;

            h1 {
                font-size: 45px;
                line-height: 1.7;
            }
        }

        .section_title_body {
            h2 {
                line-height: 1.5;
            }
        }
            
        @media (max-width: 768px) {
            

            .section_title {
                margin-bottom: 30px;

                h1 {
                    font-size: 32px;
                    line-height: 1.3;
                }
            }
        }
    }

	.bg {
		position: absolute;
		left: 0;
		right: 0;
		top:0;
		bottom: 0;
		z-index: -1;
		
		img {
			height: 100%;
			width: 100%;
			object-fit:cover;
		}
	}

	.hero-caption {
		padding: 172px 0 86px;
		position: relative;
		color: $color-white;
        font-weight: 600;
		min-height: 500px;

        h1,h4 {
            
            font-weight: 600;
        }

        .subtitle {
            
			font-weight: 400;
        }

		p {
			font-weight: 400;
			color: $color-white;
            font-size: 20px;
		}

        .separator {
            width: 72px;
            height: 4px;
            background: #CED6FD; 
            margin: 65px 0 25px;
            margin-left: 0;
        }
                
        .grid-x {
            min-height: 100%;
        }
        .section_title {
			color: $color-white;
            display: flex;

            .col-image {           
            }

        }

		.section_title_body {
			h4 {
				text-transform: uppercase;
				color: #CED6FD;
                letter-spacing: 0.1em;
			}
		}
        
	}

    @include media (min-height, 1921px){
        .hero-caption {
            .grid-x {
                //min-height: calc(100vh - 350px);
            }
        }
    }

	@include media(max-width, 1280px) {
		.hero-caption {
			font-size: 18px;
			h1 {
				font-size: 45px;
			}

		}

		.hero-logos {
			ul {
				li {
					padding: 10px 30px;;
				}
			}
		}
	}
	@include media(max-width, 1024px) {
		.hero-caption {

            .section_title {
                flex-direction: column;
            
                .col-image {

                    &.hide-for-large {
                        display: block !important;
                    }

                    &.show-for-large {
                        display: none!important;
                    }

                    figure{
                        width: 200px;
                    }
                }
            }
        
        }

    }

	@include media(max-width, 1023px) {
		padding: 0;

		.hero-caption {
			height: auto;

            h1 {
                line-height: 1.2;
            }

			.section_title {
				flex-direction: column;
				align-items: center;
				text-align: center;

				.col-image {

					figure {
						img {
							width: 200px;
						}
					}
				}
			}

			.section_title_body {
				text-align: center;

				p {
					text-align: center;
				}
			}

			.separator {
				margin: 30px auto;
			}

		}
		
	}
	
	@include media(max-width, 639px) {
		.hero-caption {
            padding: 130px 0 50px;
			font-size: 16px;
			h1 {
				font-size: 30px;
			}
            p {
                font-size: 16px
            }
		}

		.hero-logos {
			ul {
				li {
					max-width: calc(33% - 4px);
				}
			}
		}

	}
	
	@include media(max-width, 480px) {

        &.vinyl_flooring {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.81%, rgba(0, 0, 0, 0.5) 85.32%), 
            linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, rgba(12, 8, 96, 0.246) 0%,
            rgba(12, 8, 96, 0.204) 53.12%, rgba(12, 8, 96, 0.294) 100%), 
            url(../img/bgs/hero_banner_vinyl_mob.jpg);
            min-height: 1080px;
        }

		.hero-logos {
			ul {
				li {
					padding:10px;
				}
			}
		}
	}
}
.section_logos {
	position: relative;

    .grid-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    @include media (max-width, 1023px){
            
        .grid-container {
            flex-direction: row;
            align-items: center;
            gap: 2em;
            flex-wrap: wrap;
        }
    }
}

.section_what {
    padding-bottom: 118px;

    .section_title {
        margin-bottom: 56px;
        color: $color-dblue;
    }

    @include media (max-width, 600px){
        .border {
    
            &:after {
                right: -10px;
                bottom: -10px;
            }
        }

    }

}

.section_testimonials {
    background: $color-lblue;

    .section_title {
        margin-bottom: 40px;

        h2 {
            color: $color-dblue;
        }
    }
}

.section_why_choose {
    min-height: 527px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.81%, rgba(0, 0, 0, 0.5) 85.32%), 
	linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, rgba(12, 8, 96, 0.246) 0%,
	rgba(12, 8, 96, 0.204) 53.12%, rgba(12, 8, 96, 0.294) 100%), 
	url(../img/bgs/img-why.jpeg);
	background-blend-mode: normal, multiply, normal, normal;
    background-repeat: no-repeat;
    background-size: cover;

    .section_title, 
    .subtitle {
        color: $color-white;
    }
    
    .subtitle {
        font-weight: 400;    
    }
    .section_title {
        margin-bottom: 40px;
    }
    
    .section_title h2{
        font-weight: 600;
    }

}

.section_cta {

    .contact-form {
        background: $color-white;
        border: 1px solid #1A0FF5;

        &.bg-back {
            &:before{

            }
        }

        .col-header {
            h3 {
                color: $color-primary;
                font-weight: 400;
                line-height: 45px;
            }
        }

    }
    .col-image {
        margin-bottom: 36px;        
    }
    
    .section_title {
        h5, h2{
            color: $color-dblue;
            font-weight: 600;
        }
        h5 {
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
        h2 {
            text-transform: capitalize;
        }
        h3 {
            font-weight: 400;
            color: #3D404D;
        }

        .text-wrap {
            margin-bottom: 48px;
        }

        .button {
            font-weight: 600 !important;
            text-transform: capitalize;
            margin-bottom: 30px !important;
        }

    }
}

.section_what_dustless {
    padding: 66px 0 102px;

    .section_title,
    h4 {
        margin-bottom:32px;
    }

    h2 {        
        color: $color-dblue;
    }
    h4{
        font-weight: 400;
        color: #3D404D;
    }

    .button {
        min-width: 193px;
        margin-bottom: 90px;
    }

    .col-image {
        .border{
            &:after {
                right: -20px;
                bottom: -28px;
            }
        }
    }
    
    @include media (max-width, 1023px){
        .col-btn {
            
            text-align: center;

            .button {
                margin-bottom: 30px;
            }
        }

        h4 {
            text-align: center;
        }
    }
}

.section_what_dustless_2 {
    background: $color-lblue;
    padding: 72px 0 103px;

    h3 {
        font-weight: 400;
        color: $color-dblue;
    }
    .col-image {
        .border{
            &:after {
                right: -25px;
                bottom: -28px;
            }
        }
    }

}